/* Base styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url(../img/mk-bg-header-gallery);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
}

h2 {
    margin-top: 40px;
}

/* Home link styles */
.home {
    text-align: center;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #555;
}

/* Common Styles */
footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-content img {
    max-width: 100px;
    margin-bottom: 10px;
}

.footer nav ul {
    list-style-type: none;
    padding: 0;
}

.footer nav ul li {
    margin: 5px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icon img {
    width: 30px;
    margin: 0 5px;
}

/* Design Specific Styles */
.design1 .footer-content {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
}

.design2 .footer-content {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
}

.design3 .footer-content {
    background-color: #555;
    padding: 20px;
    border-radius: 15px;
}

.design4 .footer-content {
    background-color: #666;
    padding: 20px;
    border-radius: 20px;
}

.design5 .footer-content {
    background-color: #777;
    padding: 20px;
    border-radius: 25px;
}

/* Animation Styles */
.fade-animation {
    animation: fade 3s infinite;
}

.zoom-animation {
    animation: zoom 3s infinite;
}

.slide-left-animation {
    animation: slide-left 3s infinite;
}

.rotate-animation {
    animation: rotate 3s infinite;
}

.bounce-animation {
    animation: bounce 3s infinite;
}

@keyframes fade {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@keyframes zoom {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes slide-left {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20px);
    }
}

@keyframes rotate {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
